# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
certifi==2021.10.8
click==8.0.3
flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
jinja2==3.0.2
markupsafe==2.0.1
openssl==1.1.1l
pip==21.2.4
python==3.9.7
setuptools==58.0.4
sqlite==3.37.0
tzdata==2021e
vc==14.2
werkzeug==2.0.2
wheel==0.37.0
wincertstore==0.2
